body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 30px;
    text-align: center;
    background-color: aquamarine;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 20px;
}

a {
    color: pink;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}